 t1_caption, t2_caption, t3_caption, xt1_caption, xt2_caption, xt3_caption, xt4_caption table {
    caption-side: top;
    text-align: center;
    align-items: center;
}

caption { caption-side: top; 
    width: auto;
    text-align: center }


