[Unit]
Description=huey consumer service

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/perfline/perfline
ExecStart=/usr/bin/bash /root/perfline/perfline/run_pl

[Install]
WantedBy=multi-user.target
