<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="templates/scripts/dashboard.js"></script>

<style>
  #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(190,190,190,0.9);
    z-index:9999;
    display:none;
    background: rgba(190,190,190,0.9) url(templates/gif/spinner.gif) no-repeat center center;
  }
  #cover-help {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(190,190,190,0.9);
    z-index:9999;
    display:none;
  }
</style>

<body>
<div ng-app="tqUIApp">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"> <a class="navbar-brand" href="#">{{ '{{$root.tqhost}}' }}</a> </div>
    <ul class="nav navbar-nav">
      <li><a href="#!queue">Queue</a></li>
      <li><a href="#!results">Results</a></li>
      <li><a href="#!backups">Backups</a></li>
      <li><a href="#!log">Log</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">
          Add Task<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#!addtask/user_defined">User defined</a></li>
          {% for k,v in files.items() %}
          <li><a href="#!addtask/{{ k }}">{{ k }}</a></li>
          {% endfor %}
        </ul>
      </li>

    </ul>
  </div>
</nav>

<div ng-view id="appview"></div>
<div id="cover-spin"></div>
<div id="cover-help">
  <pre style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
=----------------------------=
%    Perf Task Queue WebUI   %
=----------------------------=
^    `   - Stats             $
^    1   - Queue             $
^    2   - Results           $
^    3   - Log               $
^    4,1 - Add task #1       $
^    4,2 - Add task #2       $
^    4,n - Add task #n       $
^    a   - Prev page         $
^    d   - Next page         $
^    w   - To page top       $
^    s   - To page bottom    $
^    /   - Filter tasks      $
^    ?   - This help         $
^    Esc - Exit help         $
=----------------------------=</pre>
</div>
</div>
</body>

<script>
var LASTKEY = 0;
document.body.addEventListener('keyup', function(e) {
    clickPage = function(pageName) {
	var a = document.getElementsByTagName("a");
	var t = pageName;
	var found;

	for (var i = 0; i < a.length; i++) {
	    if (a[i].textContent == t) {
		found = a[i];
		break;
	    }
	}

	found.click();
    };

    var activeElement = document.activeElement;
    var inputs = ['input', 'select', 'button', 'textarea'];

    if (activeElement &&
	inputs.indexOf(activeElement.tagName.toLowerCase()) !== -1) {
	return;
    }

    if (LASTKEY == 52) { // 4
	if (e.keyCode == 49) {
	    window.location.href = '#!/addtask/mero-128m';
	}
	if (e.keyCode == 50) {
	    window.location.href = '#!/addtask/s3-128m';
	}
	LASTKEY = 0;
	return;
    }
    if (e.keyCode == 49) { // 1
	window.location.href = '#!/queue';
    }
    if (e.keyCode == 50) { // 2
	window.location.href = '#!/results';
    }
    if (e.keyCode == 51) { // 3
	window.location.href = '#!/log';
    }
    if (e.keyCode == 68) { // d
	clickPage("Next");
    }
    if (e.keyCode == 65) { // a
	clickPage("Previous");
    }
    if (e.keyCode == 192) { //`
	window.location.href = '#!/';
    }
    if (e.keyCode == 191 && e.shiftKey) { //?
	$('#cover-help').show(0);
    }
    if (e.keyCode == 27) { // Esc
	$('#cover-spin').hide(0);
	$('#cover-help').hide(0);
    }
    if (e.keyCode == 87) { // w
	$("html, body").animate({scrollTop: 0}, 250, 'swing');
    }
    if (e.keyCode == 83) { // s
	$("html, body").animate({scrollTop: document.body.scrollHeight}, 250, 'swing');
    }
    if (e.keyCode == 191 && !e.shiftKey) { // '/'
	document.getElementById("searchText").focus();
    }
    LASTKEY = e.keyCode;
});

var app = angular.module('tqUIApp', ['ui.bootstrap', 'ngRoute']);
app.config(['$compileProvider', function ($compileProvider) {
    $compileProvider.debugInfoEnabled(false);
}]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/addtask/:taskId", {
        templateUrl : "templates/task.html",
	controller: "addTaskCC"
    }).when("/results", {
        templateUrl : "templates/results.html",
	controller: "resultsCC"
    }).when("/backups", {
        templateUrl : "templates/results.html",
	controller: "backupsCC"
    }).when("/queue", {
        templateUrl : "templates/queue.html",
	controller: "queueCC"
    }).when("/log", {
        templateUrl : "templates/log.html",
	controller: "logCC"
    }).when("/", {
        templateUrl : "templates/stats.html",
	controller: "statsCC"
    });
});
app.run(['$rootScope', '$http', function($rootScope, $http) {
    $http.get("/api/tqhost")
	.then(function (response) {
	    $rootScope.tqhost = response.data.tqhost;
	});
}]);
app.controller('resultsCC', function($scope, $window, $http) {
    $scope.currentPage  = 1;
    $scope.itemsPerPage = 10;
    $scope.limit = 100;
    $scope.checkboxes = true;
    var taskList = new Set();

    $scope.updateButtonsVisibility = function() {

        let backup_button = document.getElementById("backup_button");
        let delete_button = document.getElementById("delete_button");
        let compare_button = document.getElementById("compare_button");

        if (taskList.size > 0)
        {
            backup_button.hidden = false;
            delete_button.hidden = false;
            compare_button.hidden = false;
        }
        else
        {
            backup_button.hidden = true;
            delete_button.hidden = true;
            compare_button.hidden = true;
        }
    }

    $scope.selectTask = function(row) {
       console.log(row.selected)
       if (row.selected == 1){
          taskList.add(row.task_id);
       }
       else{
          taskList.delete(row.task_id);
       }
       $scope.updateButtonsVisibility();
       console.log(taskList)
    }

    $scope.checkAll = function() {
        let checkbox = document.getElementById("common_checkbox")

        if(checkbox.checked) {
            angular.forEach($scope.names, function(row) {
                row.selected = true;
                taskList.add(row.task_id);
            });
        }
        else{
            angular.forEach($scope.names, function(row) {
                row.selected = false;
            });
            taskList.clear();
        }
        $scope.updateButtonsVisibility();
        console.log(taskList)
    }

    $scope.deleteValue = function() {
        if (taskList.size > 0) {
           var inputdata = confirm("Warning!!! It will permanently delete all selected result artifacts from local storage.");
           if (inputdata) {
              $http.get("/api/results/delete/" + Array.from(taskList))
                  .then(function (response) {
                       console.log(response.data)
                       $scope.reload();
               });
           taskList.clear();
           $scope.updateButtonsVisibility();
           }
        }
    }

    $scope.backupTasks = function() {

        if(taskList.size == 0)
        {
            return;
        }


        let is_confirmed = confirm("Results will be moved to backup directory");

        if(!is_confirmed)
        {
            return;
        }

        $http.get("/api/task/backup_tasks/" + Array.from(taskList))
            .then(function (response) {
                console.log(response.data)
                $scope.reload();
            });
        taskList.clear();
        $scope.updateButtonsVisibility();

    }

    $scope.compareTasks = function() {
        if(taskList.size == 0)
        {
            return;
        }

        get_params = "?";
        for (let tid of taskList)
        {
            get_params += `task_id=${tid}&`
        }

        console.log(`compare tasks: ${get_params}`);
        window.location.href = `/compare_runs${get_params}`;
    }

    $scope.reload = function() {
	$('#cover-spin').show(0);
	$http.get("/api/results/" + $scope.limit)
	    .then(function (response) {
		$scope.heads = response.data.heads;
		$scope.names = response.data.results;
		$('#cover-spin').hide(0);
	    });
    }

    $scope.OnRun = function(taskid) {
        var inputdata = confirm("Are you sure to execute this action?");
        if (inputdata) {
            $http.get("/api/results/rerun/" + taskid)
                  .then(function (response) {
                       console.log(response.data)
                       setTimeout(function(){
                           window.location.href = '#!/queue';
                       }, 5000);
                  });
        }
        else {
             alert("Action cancelled");
        }
    }


    $scope.pageChanged = function() {
	$scope.reload();
    };

    $scope.toTop = function() {
	//$window.scrollTo(0, 0);
	$("html, body").animate({scrollTop:0}, 250, 'swing');
    }

    $scope.reload();

});
app.controller('backupsCC', function($scope, $window, $http) {
    $scope.currentPage  = 1;
    $scope.itemsPerPage = 10;
    $scope.limit = 100;
    $scope.checkboxes = false;

    $scope.reload = function() {
	$('#cover-spin').show(0);
	$http.get("/api/backup_results/" + $scope.limit)
	    .then(function (response) {
		$scope.heads = response.data.heads;
		$scope.names = response.data.results;
		$('#cover-spin').hide(0);
	    });
    }

    $scope.pageChanged = function() {
	    $scope.reload();
    };

    $scope.toTop = function() {
	    //$("html, body").animate({scrollTop:0}, 250, 'swing');
    }

    $scope.reload();
});
app.controller('queueCC', function($scope, $http) {
    $scope.currentPage  = 1;
    $scope.itemsPerPage = 10;
    $scope.limit = 100;
    $scope.checkboxes = true;
    var taskList = new Set();
    let lowPriority = "{{ task_low_prio }}";
    let highPriority = "{{ task_high_prio }}";

    $scope.updateButtonsVisibility = function() {

        let delete_button = document.getElementById("delete_button");
        let priority_button = document.getElementById("priority_button");
        if (taskList.size > 0)
        {
            delete_button.hidden = false;
            priority_button.hidden = false;
        }
        else
        {
            delete_button.hidden = true;
            priority_button.hidden = true;
        }
    }

    $scope.selectTask = function(row) {
       console.log(row.selected)
       if (row.selected == 1){
            if (row.state === "QUEUED") {
                taskList.add(row.task_id);
            }
       }
       else{
          taskList.delete(row.task_id);
       }
       $scope.updateButtonsVisibility();
       console.log(taskList)
    }

    $scope.checkAll = function() {
        let checkbox = document.getElementById("common_checkbox")

        if(checkbox.checked) {
            angular.forEach($scope.names, function(row) {
                row.selected = true;
                if (row.state === "QUEUED") {
                   taskList.add(row.task_id);
                }
            });
        }
        else{
            angular.forEach($scope.names, function(row) {
                row.selected = false;
            });
            taskList.clear();
        }
        $scope.updateButtonsVisibility();
        console.log(taskList)
    }

    $scope.deleteValue = function() {
        if (taskList.size > 0) {
           var inputdata = confirm("Warning!!! It will delete queued task except running task.");
           if (inputdata) {
              $http.get("/api/queue/delete/" + Array.from(taskList))
                  .then(function (response) {
                       console.log(response.data)
                       $scope.reload();
               });
           taskList.clear();
           $scope.updateButtonsVisibility();
           }
        }
    }

    $scope.priorityValue = function() {
        if (taskList.size > 0) {
           var priority = parseInt(prompt("Please enter the priority between " + lowPriority + " to " + highPriority));
           if (isNaN(priority)) {
                alert("Priority value should be a numerical");
            }
           else if ( lowPriority > priority || priority > highPriority ) {
               alert("Oh Sorry! Priority value "+ priority + " is not allowed. Please use priority between "+ lowPriority + " to " + highPriority );
           }
           else {
              $http.get("/api/priority/update/" + Array.from(taskList) + "/" + priority)
                  .then(function (response) {
                       var failed_status = {};
                       var success_status = {};
                       var keys = Object.keys(response.data)
                       console.log(response.data)
                       keys.forEach(function(taskid){
                            if(response.data[taskid].includes("REVOKED")) {
                                success_status[taskid] = "Success";
                                console.log(taskid + " : " + response.data[taskid] + " : Status : " + success_status[taskid])
                            }
                            else {
                                failed_status[taskid] = "Failed";
                                console.log(taskid + " : " + response.data[taskid] + " : Status : " + failed_status[taskid])
                            }
                       });
                       if ( Object.keys(failed_status).length > 0 ) {
                           alert("Success : [ " + Object.keys(success_status) + " ] \nFailed : [ "+ Object.keys(failed_status) + " ]")
                       }
                       $scope.reload();
               });
           taskList.clear();
           $scope.updateButtonsVisibility();
           }
        }
    }


    $scope.reload = function() {
	//$('#cover-spin').show(0);
	$http.get("/api/queue/" + $scope.limit)
	    .then(function (response) {
		$scope.heads = response.data.heads;
		$scope.names = response.data.queue;
		//$('#cover-spin').hide(0);
	    });
    }

    $scope.pageChanged = function() {
	$scope.reload();
    };

    $scope.reload();
});
app.controller('addTaskCC', function($scope, $http, $routeParams) {
    $scope.params = $routeParams;
    $scope.task = ""
    $scope.errorMsg = "";
    $http.get("/api/task/"+$scope.params.taskId)
	.then(function (response) {
	    $scope.task = response.data.task;
	});

    $scope.onConfSave = function() {
        $http({
               method: 'POST',
               url: "/api/task/saveData/"+document.getElementById("fname").value,
               headers: {'Content-Type': 'application/x-www-form-urlencoded'},
               transformRequest: function(obj) {
               return "config=" + encodeURIComponent(document.getElementById("config").value);
         }
        }).then(function (response) {
             if (response.data.includes("Failed")){
                $scope.successMsg = null;
                $scope.errorLog = null;
                $scope.errorMsg = "Sorry! Unable to save workload config. Please use different filename";
             }
             else if (response.data.includes("PRIORITY")){
                $scope.successMsg = null;
                $scope.errorLog = null;
                $scope.errorMsg = "Failed ! Wrong priority.";
                $scope.errorLog = response.data;

             }
             else if (response.data.includes("Success")){
                $scope.errorMsg = null;
                $scope.errorLog = null;
                $scope.successMsg = "Successfully added new workload";
             }
             else {
                $scope.successMsg = null;
                $scope.errorMsg = "Sorry! Incorrect workload configuration";
                $scope.errorLog = response.data;
                console.log(response.data);
             }
          })

    };
    $scope.onConfSubmit = function() {
        $http({
               method: 'POST',
               url: "/addtask",
               headers: {'Content-Type': 'application/x-www-form-urlencoded'},
               transformRequest: function(obj) {
               return "config=" + encodeURIComponent(document.getElementById("config").value);
         }
        }).then(function (response) {
             if (response.data.includes("Validation failed with the following errors")){
                 $scope.successMsg = null;
                 $scope.task_id = null;
                 $scope.state = null;
                 $scope.errorMsg = "Sorry! Unable to trigger workload";
                 $scope.errorLog = response.data;
             }
             else if (response.data.includes("PRIORITY")){
                $scope.successMsg = null;
                $scope.task_id = null;
                $scope.state = null;
                $scope.errorMsg = "Failed ! Wrong priority";
                $scope.errorLog = response.data;
             }

             else if (response.data[1].state.includes("ENQUEUED")) {
                 $scope.errorMsg = null;
                 $scope.errorLog = null;
                 $scope.successMsg = "Successfully workload has been triggered";
                 $scope.task_id = "Task Id: " + response.data[0].task_id;
                 $scope.state = "Task state: " + response.data[1].state;
                 setTimeout(function(){
                     window.location.href = '#!/queue';
         }, 5000);
             } else {
                 $scope.successMsg = null;
                 $scope.task_id = null;
                 $scope.state = null;
                 $scope.errorLog = null;
                 $scope.errorMsg = "Oops! something went wrong";
             }
        });
    };
});
app.controller('logCC', function($scope, $rootScope, $http, $interval) {
    if ($rootScope.fired == null) {
	$interval(function () {
	    $http.get("/api/log/"+($rootScope.log == null))
		.then(function (response) {
		    if ($rootScope.log == null) {
			$rootScope.log = response.data.tqlog;
			$rootScope.fired = 1;
		    } else {
			$rootScope.log = $rootScope.log + response.data.tqlog;
		    }
		});
	}, 5000);
    }
});
app.controller('statsCC', function($scope, $http) {
    $scope.requestStats = function() {
        let size = document.getElementById("sizes").value;
        let sessions = document.getElementById("sessions").value;
        let build = document.getElementById("build_type").value;
        let plot = document.getElementById("bw_plot");

        plot.src = `/dashboard/plot?build=${build}&size=${size}&sessions=${sessions}`

    	// Clear old table
        let table = document.getElementById("data_table")
	while (table.hasChildNodes())
        {
            table.removeChild(table.firstChild);
        }

        let http_req = new XMLHttpRequest();
        http_req.open('GET', `/dashboard/table?build=${build}&size=${size}&sessions=${sessions}`, false);
        http_req.onload = () => {
            if (http_req.status == 200)
            {
                data = JSON.parse(http_req.response);

                console.log(data)

                let ctrl = new DashboardTableController(table, data);
                ctrl.fill_table();
            }
        }
        http_req.send();
    }
});
</script>
