<style>

	#ctrl_buttons {
		margin-top: 2px;
		float: right;
		margin-right: 20px;
	}
	</style>
	
	<div id="ctrl_buttons">
		<input type="button" id="delete_button" value="Delete" ng-click="deleteValue()" hidden="true"/>
		<input type="button" id="priority_button" value="Priority" ng-click="priorityValue()" hidden="true"/>
	</div>
<table width=100%>
  <tr>
    <td>
      Search(={{(names | filter:searchText).length}}):
      <br>
      <input class="form-control" ng-model="searchText" id="searchText">
      <br>
      Limit(={{limit}}):<br><select class="form-control"
			ng-init="limit='100'"
			ng-model="limit"
			ng-change="pageChanged()">
        <option value="100" selected>100</option>
        <option value="9999999">all</option>
      </select>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <thead>
    <tr>
	  <th ng-if="checkboxes"><input id="common_checkbox" type="checkbox" ng-click="checkAll()" ng-model="selectAll"/></th>
      <th>tid</th>
      <th>state</th>
      <th>user</th>
      <th>time</th>
	  <th>info</th>
	  <th>workload</th>
    </tr>
  </thead>
  <tr ng-repeat="row in names | filter:searchText | limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
      <td ng-if="checkboxes"><label><input type="checkbox" ng-true-value=true ng-false-value=false ng-checked="row.checked" ng-model="row.selected" ng-click="selectTask(row)"></label></td>
      <td>{{row.task_id_short}}</td>
      <td>{{row.state}}</td>
      <td>{{row.user}}</td>
      <td>
		<table>
			<tr ng-repeat="(key,val) in row.time">
				<td><u>{{key}}:</u><br>{{val}}</td>
			</tr>
		</table>
      </td>
      <td>
	<!-- info -->
		<table>
			<tr>
				<td>
				<u>description:</u> <b>{{row.desc}}</b>
				</td>
			<tr>
				<tr>
					<td>
					<u>priority:</u> <b>{{row.prio}}</b>
					</td>
				<tr>
		</table>
	  </td>
	  
	<!-- workload -->
	<td>
		<table>
                        <tr ng-repeat="bench in row.benchmarks">
                                <td>
                                        <table ng-repeat="(b_name, b_params) in bench">
                                                <tr>
                                                        <th>{{b_name}}:</th>
                                                </tr>
                                                <tr ng-repeat="(p_name, p_val) in b_params">
                                                        <td>{{p_name}}:</td>
                                                        <td>{{p_val}}</td>
                                                </tr>

                                        </table>
                                </td>
                        </tr>
			<tr ng-repeat="bench in row.workloads">
				<td>
					<table ng-repeat="(b_name, b_params) in bench">
						<tr>
							<th>{{b_name}}:</th>
						</tr>
						<tr ng-repeat="(p_name, p_val) in b_params">
							<td>{{p_name}}:</td>
							<td>{{p_val}}</td>
						</tr>

					</table>
				</td>
			</tr>
		</table>
	</td>
	<!-- workload end -->

  </tr>
</table>
<table width=100%>
  <tr>
    <td>
      <ul uib-pagination
	  class="pagination-sm"
	  items-per-page="itemsPerPage"
	  total-items="(names | filter:searchText).length"
	  ng-model="currentPage"></ul>
    </td>
  </tr>
</table>
