<table table-layout=auto align=center cellpadding="5" border="1">
    
    <tr>
        <th colspan="6">Workload logs</a></th>
    </tr>
    <tr>
        {% for name in workload_filenames %}
            <th>{{name}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for name in workload_filenames %}
            <th><a href="/report/{{task_id}}/workload/{{name}}" download>Download</a></th>
        {% endfor %}
    </tr>
</table>
<br><br><br>

{% if rw_stats or m0crate_rw_stats %}
<table table-layout=auto align=center cellpadding="5" border="1">
    <tr>
        <th colspan="3">Workload results</th>
    </tr>

    
    {% if rw_stats.params %}
    <tr>
        <th colspan="3">s3bench parameters</th>
    </tr>
    {% for k, v in rw_stats.params.items() %}
    <tr>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}
    {% endif %}

    
    {% if rw_stats.results %}
    <tr>
        <th colspan="3">s3bench results</th>
    </tr>
    {% for res_item in rw_stats.results %}

        {% for k,v in res_item.items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}

    {% endfor %}
    {% endif %}
    
    {% if iperf_rw_stat %}
    <tr>
        <th colspan="3">Iperf results</th>
    </tr>

    {% for mainkey in iperf_rw_stat %}
       {% for key, value in iperf_rw_stat[mainkey].items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    {% endif %}

    {% for host,data in m0crate_rw_stats.items() %}

    <tr>
        <th colspan="3">{{ host }}</th>
    </tr>
    <tr>
        <th colspan="3">m0crate parameters</th>
    </tr>
    {% for k, v in data.params.items() %}
    <tr>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
    </tr>
    {% endfor %}

    <tr>
        <th colspan="3">m0crate results</th>
    </tr>
    {% for res_item in data.results %}

        {% for k,v in res_item.items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}

    {% endfor %}

    {% endfor %}

</table>

{% endif %}
